@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

p,
.bodyText {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cube-loader {
	position: relative;
	width: 40px;
	height: 40px;
	margin: auto;
}

.cube {
	position: absolute;
	width: 50%;
	height: 50%;
	background-color: #333;
	border: 2px solid #fff;
	animation: foldCube 2.4s infinite linear;
}

/* Individual cube positioning */
.cube1 {
	top: 0;
	left: 0;
	transform-origin: 100% 100%;
}
.cube2 {
	top: 0;
	right: 0;
	transform-origin: 0 100%;
}
.cube3 {
	bottom: 0;
	right: 0;
	transform-origin: 0 0;
}
.cube4 {
	bottom: 0;
	left: 0;
	transform-origin: 100% 0;
}

/* Keyframes for the folding animation */
@keyframes foldCube {
	0%,
	10% {
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

/* Animation delay for each cube */
.cube1 {
	animation-delay: 0.3s;
}
.cube2 {
	animation-delay: 0.6s;
}
.cube3 {
	animation-delay: 0.9s;
}
.cube4 {
	animation-delay: 1.2s;
}

.cta {
	border: none;
	background: none;
	cursor: pointer;
}

.cta span {
	padding-bottom: 4px;
	letter-spacing: 4px;
	font-size: 12px;

	padding-right: 8px;
	text-transform: uppercase;
}

.cta svg {
	transform: translateX(-8px);
	transition: all 0.3s ease;
}

.cta:hover svg {
	transform: translateX(0);
}

.cta:active svg {
	transform: scale(0.9);
}

.hover-underline-animation {
	position: relative;
	color: black;
	padding-bottom: 20px;
}

.hover-underline-animation:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000000;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.loaderR {
	position: relative;
	width: 54px;
	height: 54px;
	border-radius: 10px;
}

.loaderR div {
	width: 8%;
	height: 24%;
	background: rgb(128, 128, 128);
	position: absolute;
	left: 50%;
	top: 30%;
	opacity: 0;
	border-radius: 50px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	animation: fade458 1s linear infinite;
}

@keyframes fade458 {
	from {
		opacity: 1;
	}

	to {
		opacity: 0.25;
	}
}

.loaderR .bar1 {
	transform: rotate(0deg) translate(0, -130%);
	animation-delay: 0s;
}

.loaderR .bar2 {
	transform: rotate(30deg) translate(0, -130%);
	animation-delay: -1.1s;
}

.loaderR .bar3 {
	transform: rotate(60deg) translate(0, -130%);
	animation-delay: -1s;
}

.loaderR .bar4 {
	transform: rotate(90deg) translate(0, -130%);
	animation-delay: -0.9s;
}

.loaderR .bar5 {
	transform: rotate(120deg) translate(0, -130%);
	animation-delay: -0.8s;
}

.loaderR .bar6 {
	transform: rotate(150deg) translate(0, -130%);
	animation-delay: -0.7s;
}

.loaderR .bar7 {
	transform: rotate(180deg) translate(0, -130%);
	animation-delay: -0.6s;
}

.loaderR .bar8 {
	transform: rotate(210deg) translate(0, -130%);
	animation-delay: -0.5s;
}

.loaderR .bar9 {
	transform: rotate(240deg) translate(0, -130%);
	animation-delay: -0.4s;
}

.loaderR .bar10 {
	transform: rotate(270deg) translate(0, -130%);
	animation-delay: -0.3s;
}

.loaderR .bar11 {
	transform: rotate(300deg) translate(0, -130%);
	animation-delay: -0.2s;
}

.loaderR .bar12 {
	transform: rotate(330deg) translate(0, -130%);
	animation-delay: -0.1s;
}

body {
	--sb-track-color: #e8e9e8;
	--sb-thumb-color: #cee5ed;
	--sb-size: 10px;

	scrollbar-color: var(--sb-thumb-color)
		var(--sb-track-color);
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 20px;
}
